// Layout
$breakpoint-md: 768px;

// Colors
$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

// Neutral Colors
$neutral-very-dark-blue: hsl(234, 12%, 34%);
$neutral-grayish-blue: hsl(229, 6%, 66%);
$neutral-very-light-gray: hsl(0, 0%, 98%);

// Typography
$font-size: 15px;
$font-family: "Poppins", sans-serif;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-semibold: 600;
